# .env
# 容器名称
CONTAINER_NAME=myztplanet

# 镜像地址
#DOCKER_IMAGE=xubiaolin/zerotier-planet:latest
DOCKER_IMAGE=registry.cn-hangzhou.aliyuncs.com/baimeidashu/bmds:xubiaolin-zerotier-planet-latest

# 端口配置 (请修改为实际未被占用的数字)
ZT_PORT=9994
API_PORT=3443
FILE_PORT=3000

# IP 地址配置 (必须填写真实的公网 IP，不要留中文说明)
# 如果有 IPv6 就填，没有就留空引号
IP_ADDR4="1.2.3.4"
IP_ADDR6=""

